.sidebar {
    display: none;
}

.sidebar.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    z-index: 999;
    background-color: #FFFFFF;

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    /*backdrop-filter: blur(2px);*/
}

.nav {
    display: flex;
    flex-direction: column;
    font: 600 22px "Montserrat", sans-serif;
    color: #000;
    gap: 45px;
    padding-left: 70px;
    padding-top: 70px;
}

.nav a {

}

.nav a:hover {
    color: #58acff;
}

.nav a.active {
    font: 600 22px "Montserrat", sans-serif;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0059b2;
}

.close {
    position: relative;
    border: none;
    background-color: #FFFFFF;
    top: 15px;
    right: -260px;


    width: 25px;
    height: 25px;
    text-align: center;
}

.close img {
}
