.input:focus {
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 375px;
    height: 35px;
    outline:none;
}

.inputWrapper {
    display: flex;
    flex-direction:  column-reverse;

}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
}

.error {
    font: 400 10px "Montserrat", sans-serif;
    color: #cc1439;
    padding: 5px 0 ;
}
