.tech {
    font: 400 16px / 1.5 "Roboto", sans-serif;
    color: #000;

}

.loading {
    display: flex;
    max-width: 375px;
    justify-content: right;


    font: 300 14px "Roboto", sans-serif;
    color: #4d4d4d;
}