.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:90px 0;
}

.inputs {
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
