.buttonsContainer {
    display: flex;
    padding: 25px 0;
    gap: 20px;
}

.clock {
}

.watch {
    padding: 10px 0;
    font: 400 20px "Montserrat", sans-serif;
    color: #000;
}

.watch strong {
    font: 600 20px "Montserrat", sans-serif;
}

.more {

    font: 400 16px "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}