.App {
    --header_height: 60px;

}

.hw {
    padding: 20px 70px;
    border: 1px solid #d9d9d9;
}

.hwTitle {
    padding: 130px 70px 10px;
    font: 600 22px "Montserrat", sans-serif;
    color: #000;
}