.select {
    min-height: 25px;
    min-width: 30px;

    font: 400 14px "Montserrat", sans-serif;
    color: #000;

    /*border: 2px solid black;*/
    /*border-radius: 5px;*/


    border: 1px solid #c2c2c2;
    border-radius: 2px;
    /*width: 165px;*/
    height: 24px;
}

.select:focus {

    border: 1px solid #000;
    border-radius: 2px;
    /*width: 180px;*/
    height: 25px;
}


.option:hover {
    background: #1e90ff;
}
