.button {
    border:none;
    border-radius: 3px;
    padding: 5px 24px;
    min-width: 132px;
    min-height: 30px;
    background: #06c;

    font: 600 14px / 1.42857 "Montserrat", sans-serif;
    color: #fff;
}

.disabled {
    font: 600 14px / 1.42857 "Montserrat", sans-serif;
    color: #002e5c;

    background: #004d99;
    opacity: 0.5;
}

.secondary {
    border: 1px solid #06c;
    background-color: #f2f2f2;
    font: 600 14px / 1.42857 "Montserrat", sans-serif;
    color: #06c;
    
}

.default {

}

.red {
    background: #cc1439;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
    background: #0059b2;
}

.secondary:active {
    background: #c9e5ff;
}

.red:active {
    background: #b21232;
}

.button:disabled {

}
