.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

    font: 400 14px "Roboto", sans-serif;
    color: #0d0b0c;
}

.text1 {

}

.text2 {

}
